<h1>Produtos</h1>

</br>
<div class="prod">
    {{#each products}}
    <div class="iten-prod">
        <span>Nome: {{this.name}}</span>
        <span>Preço: {{this.price}}</span>
        <span>Descrição: {{this.description}}</span>
        <a href="/products/{{this._id}}">Entrar</a>
    </div>
    {{/each}}
</div>