<h1>Criar Produto</h1>

<form action="/products/create" method="post">
<input type="text" name="name" placeholder="Nome">
<input type="text" name="price" placeholder="Preço">
<textarea name="desc" placeholder="Descrição"></textarea>
<button>Enviar</button>
</form>