<span>Nome: {{product.name}}</span>
<span>Nome: {{product.price}}</span>
<span>Nome: {{product.description}}</span> <br>
<form action="{{product._id}}" method="post">
<button>Remover</button>
</form>
<a href="/products">Voltar</a> 
